# .gitignore
# ignore gofmt cache
.gofmt.cache
# ignore go files
*.go
# ignore vendor directory
vendor/
# ignore node_modules directory
node_modules/
# ignore pycache directory
__pycache__/
# ignore pycache directory
*.pyc
# ignore coverage directory
.coverage
# ignore logs directory
logs/
# ignore env file
.env
# ignore docker-compose files
docker-compose*
# ignore docker logs
docker/logs/
# ignore travis logs
.travis/
# ignore circleci logs
.circleci/