# .gitignore

# ignore node_modules
node_modules/

# ignore coverage data
coverage/

# ignore go build files
*.go~

# ignore IDE config
.idea/

# ignore vscode config
.vscode/

# ignore docker build files
docker-compose.yml

# ignore docker logs
docker-compose.log